.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-call {
	font-size:calc(28/10)*1rem;
	width:calc(28/28)*1em;
}
.icon-close {
	font-size:calc(34/10)*1rem;
	width:calc(34/34)*1em;
}
.icon-next {
	font-size:calc(35/10)*1rem;
	width:calc(40/35)*1em;
}
.icon-next2 {
	font-size:calc(22/10)*1rem;
	width:calc(32/22)*1em;
}
.icon-prew {
	font-size:calc(35/10)*1rem;
	width:calc(40/35)*1em;
}
.icon-prew2 {
	font-size:calc(22/10)*1rem;
	width:calc(32/22)*1em;
}
.icon-thanks {
	font-size:calc(26/10)*1rem;
	width:calc(32/26)*1em;
}
.icon-wa {
	font-size:calc(28/10)*1rem;
	width:calc(28/28)*1em;
}
